.navigation-bar {
    box-shadow: 1px -37px 209px -3px rgba(0,0,0,0.56);
    -webkit-box-shadow: 1px -37px 209px -3px rgba(0,0,0,0.56);
    -moz-box-shadow: 1px -37px 209px -3px rgba(0,0,0,0.56);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.icon {
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    border-radius: 50%;
}
.icon:hover {
    background-color: #f0f0f0;
}
.general-icons {
    display: flex;
    align-items: center;
}
.general-icons > * {
    margin-left: 10px;
}
.profile-icons > * {
    margin-right: 10px;
}